{
	"presets": [
    "babel-preset-env",
    "babel-preset-react",
    "es2015"
  ],
	"plugins": [
    "dynamic-import-webpack",
    "syntax-class-properties",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
