@import 'colors.css';

.carousel {
  display: flex;
  flex-wrap: wrap;

  & * {
    margin: 0;
    padding: 0;
  }

  & img {
    display: inline-block;
    pointer-events: none;
  }

  /* Slider ----------------------- */
  & .slider-wrapper {
    overflow: hidden;
    width: 100%;
    transition: height 0.15s ease-in;

    & ul.slider {
      display: flex;

      & .slide {
        flex-direction: column;
        flex-flow: column;
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        background: white;

        & img {
          width: 100%;
          vertical-align: top;
          border: 0;
        }
      }
    }
  }

  & .controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    & .control-arrow {
      border: 1px solid red;
      outline: none;
    }

    & .control-prev {
      border: 0;
      width: 53px;
      height: 23px;
      background: url(../img/arrow-left.svg) bottom center no-repeat;
    }

    & .control-next {
      border: 0;
      width: 53px;
      height: 23px;
      background: url(../img/arrow-right.svg) bottom center  no-repeat;
    }

    /* Dots */
    & .control-dots {
      text-align: center;
      padding-top: 3px;

      & .dot {
        transition: opacity 0.25s ease;
        opacity: 1;
        border: 1px solid var(--gray);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        cursor: pointer;
        display: inline-block;
        margin: 0 7px;

        &:hover {
          opacity: .3;
          background-color: var(--gray);
        }

        &.selected {
          opacity: 1;
          background-color: var(--blue);
          border: 0;
        }
      }
    }
  }


  /* Arrows -------------------------------------- */
  & .control-arrow {
/*  transition: all 0.25s ease-in;
    opacity: .5;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
 */
    &:hover {
      opacity: 1;
    }
  }

}

@media (min-width:960px) {
  .carousel .control-dots {
    /* bottom: 0; */
  }
}
