@import 'colors.css';

:root {
  @custom-media --1200up (width >= 1200px);
}

.carousel-wrapper {

  &.third {
    lost-column: 1/3;

    & img {
      max-width: 200px;
      height: auto;
      width: auto;
      display: block;
      margin: 0 auto;
    }
  }

  &.half {
    lost-column: 1/2;
  }

}

.carousel {
  display: flex;
  flex-wrap: wrap;

  & * {
    margin: 0;
    padding: 0;
  }

  & img {
    display: inline-block;
    pointer-events: none;
  }

  /* Slider ----------------------- */
  & .slider-wrapper {
    overflow: hidden;
    width: 100%;
    transition: height 0.15s ease-in;

    & ul.slider {
      /* list-style-type: none; */
      display: flex;

      & .slide {
        flex-direction: column;
        flex-flow: column;
        min-width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        background: white;

        & img {
          width: 100%;
          vertical-align: top;
          border: 0;
        }
      }
    }
  }

  & .controls-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;

    & .control-arrow {
      transition: opacity 0.25s ease;
      border: 0;
      cursor: pointer;
      outline: none;
      display: block;
      width: 20px;
      height: 25px;
      margin: 0 15px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.control-disabled  {
        opacity: .2;
      }
    }

    & .control-prev {
      background: url(../img/arrow-left.svg) right center no-repeat;
    }

    & .control-next {
      background: url(../img/arrow-right.svg) left center no-repeat;
    }

    /* Dots */
    & .control-dots {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      & .dot {
        transition: opacity 0.25s ease;
        box-sizing: content-box;
        opacity: .5;
        background: url(../img/dot.svg) left center  no-repeat;
        width: 12px;
        height: 12px;
        margin: 0 7px;
        padding: 2px;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }

        &.selected {
          background: url(../img/dot-blue.svg) left center  no-repeat;
          opacity: 1;
          border: 0;
        }
      }
    }
  }
}

.logo-carousel {
  display: block;
  width: 75%;

  margin: 0 auto;

  & img {
    display: block;
    width: 100%;
    clear: both;
    margin: 25px auto;
  }
}

.hand-line,
.line {
  margin: 8px auto 80px;
  display: block;
}
