@import 'media-queries.css';

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  min-height: 110px;

  & .logo-wrap {
    @media (--phone) {
      max-width: 85%;
    }

    & img {
      width: 100%;
      display: inline-block;
    }
  }
}
