@import 'colors.css';
@import 'media-queries.css';

.nav-wrap {
  font-family: 'Oswald';
  display: flex;
  justify-content: center;
  margin: 15px auto 25px;
  position: relative;
  padding: 0 40px;
  max-width: 1200px;
  @media (--tablet-down) {
    padding: 0;
  }

  @media (width <= 630px) {
    margin-bottom: 70px;
  }

  @media (--phone) {
    justify-content: space-around;
  }

  & .link-wrap {
    width: 130px;
  }

  & a {
    text-decoration: none;
    color: gray(120);
    font-size: 16px;
    letter-spacing: .12em;
    display: block;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    @media (--phone) {
      font-size: 17px;
    }

    &:hover {
      color: var(--blue);
    }
  }

  & .dropdown-wrap {
    z-index: 99999;
    position: absolute;
    top: 30px;

    & .dropdown {
      background-color: white;
      padding: 12px 20px 25px;

      & a {
        display: block;
        padding: 3px 0;
        font-size: .9em;
        font-weight: 300;
      }
    }
  }
}

.transition-span {
  position: absolute;
  display: flex;
  justify-content: center;
}

.dropmenu-enter {
  opacity: 0.01;
}

.dropmenu-enter.dropmenu-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.dropmenu-leave {
  opacity: 1;
}

.dropmenu-leave.dropmenu-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}

.social-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 30px;
  top: -10px;

  @media (width <= 630px) {
    justify-content: center;
    width: 100%;
    right: 0;
    left: 0;
    top: 35px;
  }

  & img {
    width: 30px;
    height: 30px;
    margin: 5px 3px 0;
    filter: grayscale(100%);
  }
}


