@import 'colors.css';
@import 'media-queries.css';
@lost flexbox flex;

.socks-wrap {
  & .images-wrap {
    lost-center: 1200px;

    & .img-row {
      margin: 0 10px 30px 10px;
      @media (--tablet-down) {
        margin: 0;
      }
    }

    & img {
      object-fit: contain;
      max-height: 500px;
      max-width: 500px;
      @media (--tablet-down) {
        lost-column: 1 !important;
        padding: 10px;
        min-width: 100%;
      }
      &.four {
        lost-column: 1/4;
      }
      &.three {
        lost-column: 1/3;
      }
      &.two {
        lost-column: 1/2;
      }
    }
  }

  & .line {
    width: 100%;
    lost-align: center;
    margin: 30px 0;
    lost-column: 1;
    & img {
      max-width: 550px;
      @media (--phone) {
        max-width: 350px;
      }
    }
  }
}
