@import 'colors.css';
@import 'media-queries.css';

.socks-wrap {
  @media (--phone) {
    padding: 0 5px;
  }

  & .images-wrap {
    lost-utility: clearfix;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    @media (--desktop) {
      max-width: 1200px;
    }

    & .img-row.four {
      & .img-wrap {
        lost-column: 1/4;

        @media (--phone) {
          lost-column: 1;
        }
      }
    }

    & .img-row.three {
      & .img-wrap {
        lost-column: 1/3;

        @media (--phone) {
          lost-column: 1;
        }
      }
    }

    & .img-row.two {
      & .img-wrap {
        lost-column: 1/2;
      }
    }

    & .img-wrap {
      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        max-height: 400px;
        max-width: 400px;
        margin-bottom: 30px;
        @media (--laptop-down) {
          margin: 10px auto;
        }
      }
    }
  }

  & .line {
    margin-top: 40px;
    @media (--phone) {
      max-width: 350px;
    }
  }
}
