*, *:after, *:before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.hand-line {
  margin: 8px auto 80px;
  opacity: 1;
  display: block;
}

.address-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & .map-wrap {
    width: 75%;
  }

  & .address-box {
    width: 20%;

    & .box-text {
      font-family: Oswald;
      line-height: 0;
      font-weight: 600;
    }
  }
}



