@import 'colors.css';
@import 'media-queries.css';

.underwear-wrap {
  & .images-wrap {
    margin-top: 30px;
    lost-center: 1200px;
    @media (--desktop) {
      max-width: 1200px;
    }
    @media (--phone) {
      padding: 0 5px;
    }

    & .img-wrap {
      lost-column: 1/2;
      lost-align: center;
      @media (--laptop-down) {
        lost-column: 1;
      }

      & img {
        object-fit: contain;
        max-height: 600px;
        max-width: 500px;
        padding: 10px;
        @media (--laptop-down) {
          margin: 10px auto;
          max-height: 100%;
          max-width: 100%;
        }
      }
    }
  }

  & .line {
    margin-top: 30px;
    @media (--phone) {
      max-width: 350px;
    }
  }
}
